Options All -Indexes

<files .htaccess>
order allow,deny
deny from all
</files>

RewriteBase /

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+?)/?$ index.php?p=$1 [L,QSA]