Options All -Indexes

<files .htaccess>
order allow,deny
deny from all
</files>

<files ghost>
order allow,deny
deny from all
</files>

<Files ~ "\.tpl$">
Order allow,deny
Deny from all
</Files>

RewriteBase /

RewriteEngine On

RewriteCond %{REQUEST_URI} setlang/(.*)
RewriteRule	setlang/(.*) /index.php?p=setlang&set_to=$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+?)/?$ index.php?p=$1 [L,QSA]